@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  --shadow: #888888;
  text-align: center;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 
main {
  height: auto;
  margin-bottom: 100px;
  margin-top: 30px;

}

/*Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  background-color: var(--background);
  box-shadow: 0px 7px var(--brand-primary-color);
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header li {
  display: inline;
  padding-right: 8px;
  position: relative;
}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}



/*Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.card {
  box-shadow: 2px 2px 10px 1px var(--shadow);
  color: slategray;
}


@layer components {
  h2 {
    @apply py-4 text-4xl font-black text-gray-800;
  }

  h3 {
    @apply py-1 font-black text-gray-600;
  }

  .button {
    @apply custom-focus rounded-full border-2 border-slate-600 bg-white px-8 py-2 font-bold text-slate-400 hover:bg-slate-600 hover:text-white hover:border-slate-400 focus:bg-slate-600 focus:text-white;
  }

  .button-inverse {
    @apply custom-focus rounded-full border-2 border-slate-400 bg-slate-600 px-8 py-2 font-bold text-white hover:border-slate-400 hover:bg-white hover:text-slate-400 focus:border-slate-600 focus:bg-white focus:text-slate-400;
  }

  .card {
    @apply column w-1/2 min-w-[20rem] mt-20 mx-auto items-center gap-8 rounded-2xl bg-white py-8 px-4 shadow-md sm:min-w-[24rem] sm:px-10;
  }

  .column {
    @apply flex flex-col items-start justify-center gap-4;
  }

  .custom-focus {
    @apply focus:border-slate-400 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2;
  }

  .heading {
    @apply text-lg font-semibold text-gray-700;
  }

  .highlight {
    @apply ml-1 rounded-lg bg-gray-100 p-2 font-mono;
  }

  .error {
    @apply w-full text-center text-red-600;
  }

  .input {
    @apply custom-focus w-full rounded-xl border border-slate-300 focus:shadow-none;
  }

  .link {
    @apply custom-focus rounded-md font-semibold text-slate-400;
  }

  .row {
    @apply flex flex-row items-center justify-start gap-1;
  }
}

input {
  box-sizing: border-box;
  border: 2px solid var(--foreground);
  border-radius: 4px;
}